/* Sass Variables */

$pink: #da7074

/* Sass Mixins */

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

=absoluteCentered()
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%,-50%)  

=PlayfairItalic()
	font-family: 'Playfair Display', serif
	font-style: italic  


/* C O M M O N */


body, html 
	width: 100%
	height: 100%


body 
	font-family: 'Montserrat', sans-serif
	font-weight:	300	
	background-color: #999 
	color:  #fff
 


*::selection  
	background: rgba(0,0,0,.4)
	color: #fff


main 
	width: 100%
	height: 100%


.no-padding 
	padding: 0


.container-1700 
	width: 90%
	max-width: 1700px
	margin: 0 auto


@media (max-width: 480px) 
	.col-xxs-12 
		width:  100%
	


/* common */


/* H E A D E R */

.header 
	transition: .4s
	border: none


	&_active 
		background-color: rgba(0,0,0,.4)



.header__container 
	padding: 30px 15px
	width: 100%
	border-bottom: 1px solid rgba(255,255,255,.5)
	transition: .4s



.header__container
	&_active 
		border-bottom: none
		padding: 10px 15px


.header__menu 
	text-align:  center
	transition: .4s	


@media (max-width: 991px) 

	.header__menu_active  
		display: block !important
		width: 100%
		position: fixed
		left: 0
		top: 106px


	.header_active .header__menu_active 
		top: 65px
		background-color: rgba(0,0,0,.4)


	.header__menu-list 
		border-bottom: 1px solid rgba(255,255,255,.5)


	.header__menu_active .header__menu-item  
		width: 33%
		float: left




.header__menu-item 
	display: inline-block
	line-height: 40px
	padding: 0 10px
	font-weight: 900
	text-transform: uppercase  
	letter-spacing: 1px


.header__item-link 
	padding: 10px 20px
	border-radius: 50px
	transition: .4s


.header__item-link:hover 
	background: rgba(255,255,255,.3)


.header__logo_svg 
	fill: transparent
	stroke-width: 3px
	stroke: #fff


.header__search-container 
	display: inline-block
	float: right


.header__search-icon 
	float: right
	padding: 10px
	height: 40px
	display: inline-block


.header__search-input 
	float: right
	background: none
	border: none
	line-height: 40px
	outline: none
	border-bottom: 1px solid
	width: 0
	padding: 0
	transition: .5s

.header__search-container:hover  .header__search-input 	
	width: 80%
	width: calc(100% - 60px)
	padding: 0 5px


.header__search-svg 
	display: block
	fill: transparent
	stroke-width: 3px
	stroke: #fff   


/* header */


/* H E R O   S C E N E  */

.hero 
	width: 100%
	height: 100%
	min-height: 640px
	position: relative
	background-image: url(../img/hero-bg.jpg)
	background-size: cover

.hero__card 
	width: 740px
	max-width: 90%
	+absoluteCentered
	text-align: center

.hero__title 
	font-family: 'Playfair Display', serif
	font-weight: 400
	font-size: 76px
	line-height:	50px

.hero__description 
	max-width: 550px
	width: 75%
	display: inline-block
	line-height: 1.8
	font-size: 1.2em



@media (max-width: 480px) 
	.hero__description  
		line-height: 1.5
		font-size: 1em
	

	.hero__title 
		margin: 0.3em 0
	


.hero__button-container 
	line-height: 40px
	margin-top: 5%


.hero__button 
	display:	inline-block
	background: $pink
	padding: 0 50px
	font-weight: 900
	text-transform: uppercase
	border-radius: 40px
	letter-spacing: 1px
	transition: .5s ease-in-out


.hero__button-line 
	display: block
	width: 450px
	max-width: 75%
	border-bottom: 1px solid $pink
	margin: 0 auto
	margin-top: -20px
	transition: .4s ease-in-out


.hero__button:hover 
	background: rgba(255,255,255,.2)


.hero__button:hover + .hero__button-line 
	width:  0

.hero__play 
	position: absolute
	bottom: 5%
	left: 50%
	transform: translateX(-50%)
	height: 80px
	border: 2px solid
	border-radius: 100%
	box-sizing: content-box


.hero__play-icon 
	fill: none
	stroke: #fff
	stroke-width: 2px
	transition: .4s


	&:hover
		transform: rotate(330deg)


.hero__vertical-lines 
	position: absolute
	bottom: calc(5% + 90px)
	width: 100%
	height: 0


	&:before, &:after 
		content: ''
		display: block
		width: 1px
		background: $pink
		height: 80%
		position: absolute


	&:before 
		left: 49%
		left:calc(50% - 4px)
		top: 0%
		animation: 2s vertical-line-1 infinite


	&:after 
		right: 49%
		right: calc(50% - 4px)
		bottom: 0%
		animation: 2s vertical-line-2 infinite



+keyframes (vertical-line-1) 
	50%  
		top: 20%

+keyframes (vertical-line-2)  
	50%  
		bottom: 20% 


/* hero scene */


/* T I L E S */

.tile 
	transition: .5s ease-in-out
	background-size: 100%
	background-position: center center
	cursor: pointer

	&_1 
		background-image: url(../img/img-1.jpg)
	&_2 
		background-image: url(../img/img-2.jpg)
	&_3 
		background-image: url(../img/img-3.jpg)
	&_4 
		background-image: url(../img/img-4.jpg)
	&:hover    
		background-size: 130%

.tile__inner 
	padding-bottom: 100%


.tile__inner:before 
	content: ''
	display: block
	width: 100%
	height: 100%
	position: absolute
	transition: .6s


.tile:hover .tile__inner:before    
	background: rgba(0,0,0,.6)


.tile__content 
	position: absolute
	text-align: center
	width: 100%
	bottom: 10%
	padding: 0 10%


.tile__title 
	text-transform: uppercase
	font-size: 1.2em
	letter-spacing: 1px


.tile__description 
	+PlayfairItalic


/*  tiles */


/* F O O T E R */

.footer 
	background: #fff
	color: #000
	font-size: .9em


.footer-menu__column
	padding: 20px


.footer-menu__column-header 
	text-transform: uppercase  


.footer-menu__item 
	+PlayfairItalic
	font-size: 1.2em
	padding-bottom: 5px
	color:  #333


.footer-menu__link 
	transition: .4s

	&:hover 
		color: #999


.footer-copy 
	background: #000
	padding: 30px 0
	color: #666
	+PlayfairItalic


/* footer */



/* P O P   U P  */

.popup 
	width: 100%
	height: 0
	position: fixed
	top: -100%
	left: 0
	background: rgba(255,255,255,.9)
	z-index: 2000
	transition: .4s ease-in
	overflow-y: scroll


.popup_active
	top: 0%
	height: 100%


.popup__content 
	+absoluteCentered
	width: 640px
	max-width: 90%
	text-align: center


.popup__close 
	position: absolute
	top: 5%
	right: 5%
	font-size: 1.5em
	width: 2em
	height: 2em
	line-height: 2em
	text-align: center
	border-radius: 100%
	cursor: pointer
	transition: .4s
	z-index: 3000


.popup__number 
	font-size: 2em
	color: $pink



.popup__close:hover 	
	background-color: rgba(0,0,0,.2)


@media (max-width: 640px) 

	.popup__content  
		position: relative
		left: auto
		top: auto
		transform: none
		margin: 0 auto

/* pop up */